## BUSA8001 - Assignment 1

---

**Assignment Points**: 100  
**Due Date**: Friday Week 7 (5 April 2024) @ 11.59pm  
**Instructions**: Provide answers within this Jupyter notebook using Python code, and submit via iLearn  
**Marking Criteria**: See end of document below   
**Assignment Background**: This assignment uses a dataset which is based on the Credit Card Defaults data discussed in Week 2 Tutorial.

---

**Problem 1** - Reading the dataset (Total Marks: 20)



**Q1**. Read the first 10,000 rows from the credit card dataset provided in the **assignment_data** folder 
- Name your DataFrame `df` 
- Delete `ID` column     

(5 marks)

In [1]:
#read the Dataframe
import pandas as pd

#Name dataframe df
df = pd.read_excel('assignment_data/credit_data.xlsx')

#Read the first 10,000 rows
df.head(10000)

#Delete ID column
del df['ID']

#check new dataframe
df.head(10000)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,310000,1.0,3.0,1.0,32.0,0.0,0.0,0.0,0.0,0.0,...,84373.0,57779.0,14163.0,8295.0,6000.0,4000.0,3000.0,1000.0,2000.0,0
1,10000,2.0,3.0,1.0,49.0,-1.0,-1.0,-2.0,-1.0,2.0,...,1690.0,1138.0,930.0,0.0,0.0,2828.0,0.0,182.0,0.0,1
2,50000,1.0,2.0,1.0,28.0,-1.0,-1.0,-1.0,0.0,-1.0,...,45975.0,1300.0,43987.0,0.0,46257.0,2200.0,1300.0,43987.0,1386.0,0
3,80000,2.0,3.0,1.0,52.0,2.0,2.0,3.0,3.0,3.0,...,40748.0,39816.0,40607.0,3700.0,1600.0,1600.0,0.0,1600.0,1600.0,1
4,270000,1.0,1.0,2.0,34.0,1.0,2.0,0.0,0.0,2.0,...,22448.0,15490.0,17343.0,0.0,4000.0,2000.0,0.0,2000.0,2000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,90000,2.0,2.0,1.0,47.0,0.0,0.0,0.0,0.0,0.0,...,28847.0,28747.0,29177.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,0
9996,250000,2.0,1.0,2.0,26.0,-2.0,-2.0,-2.0,-2.0,-2.0,...,0.0,0.0,0.0,712.0,0.0,0.0,0.0,0.0,0.0,0
9997,60000,2.0,2.0,1.0,31.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,3859.0,415.0,415.0,144047.0,365.0,73000.0,415.0,415.0,50136.0,1
9998,50000,1.0,2.0,2.0,24.0,1.0,-1.0,-1.0,-1.0,-1.0,...,1559.0,-205.0,613.0,3000.0,0.0,3000.0,0.0,2000.0,1000.0,0
9999,70000,2.0,1.0,2.0,29.0,0.0,0.0,0.0,0.0,0.0,...,47562.0,43735.0,43509.0,3020.0,5040.0,2000.0,2000.0,12000.0,5000.0,0

<hr style="width:25%;margin-left:0;"> 

**Q2**. List which *features* are *numeric*, *ordinal*, and *nominal* variables, and how many features of each kind there are in the dataset.
To answer this question 
- Find the definitions of the variables provided elsewhere in the course material (hint: make sure you do weekly tutorials)
- Find the definitions of numeric, ordinal and nominal variables
- Carefully consider the values of the data itself as well as the output of `df.info()`. 

Your answer should be written up in Markdown and include:
1) Definitions of the three kinds of variables,
2) A table listing all the features present in the dataset and their type (fill out the table template provided below) and
3) A brief description of the contents of the table.

|Variable Kind|Number of Features|Feature Names
| --- | --- | --- |
| Numeric | some number | some text |
| some text  | some number | some text |
| some text  | some number | some text |
 

(10 marks)

**1. Definitions of variables:**

**a. Numeric variables**
represent quantitative variables that can be measured and   expressed as numbers. They are categorized as either continuous or discrete:

- **Continuous variables** represent measurements that can assume any value within a range, allowing for infinite precision. Common examples are height and temperature.

- **Discrete variables** count occurrences in whole numbers, forbidding fractional values. Examples include the number of cars a person owns or the number of employees in a company.

**b. Nominal variables**
are categorical variables that do not have a logical order. These variables identify differences based on type rather than degree. Examples include gender, business type, eye color, religion, and brand.

**c. Ordinal variables**
are categorical variables that have have a logical order or ranking among the categories. Although these categories can be arranged hierarchically, the distances between them are not quantified. Examples include academic grades (e.g., A, B, C), clothing sizes (e.g., S, M, L, XL), and attitudes (e.g., strongly agree to strongly disagree).

Reference:
Australian Bureau of Statistics. (n.d.). Variables. Australian Bureau of Statistics. Retrieved from https://www.abs.gov.au/statistics/understanding-statistics/statistical-terms-and-concepts/variables



**2. A table listing all the features present in the dataset and their type**


|Variable Kind|Number of Features|Feature Names
| --- | --- | --- |
| Numeric | 14 | LIMIT_BAL, AGE, BILL_AMT1, BILL_AMT2, BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6  |
| Nominal  | 9 | SEX, MARRIAGE, PAY_0, PAY_2 , PAY_3, PAY_4, PAY_5, PAY_6, default.payment.next.month |
| Ordinal  | 1 | EDUCATION |





**3. Brief Explanation of Table**


The table categorizes features (variables) in the "credit_data" dataset according to their types: numeric, nominal, and ordinal.

- There are **14 numeric features**: LIMIT_BAL, AGE, BILL_AMT1, BILL_AMT2, BILL_AMT3, BILL_AMT4, BILL_AMT5, and BILL_AMT6. They represent measurable quantities such as balance limits, age, and bill amounts for six different time periods.

- There are **9 nominal features**: SEX, MARRIAGE, PAY_0, PAY_2, PAY_3, PAY_4, PAY_5, PAY_6, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6, and default.payment.next.month. These represent categories without a natural order, such as gender, education level, marital status, repayment status for several periods, and whether there was a default payment the following month.

- There is only **1 ordinal feature**: Education which represents the level of education.

<hr style="width:25%;margin-left:0;"> 

**Q3.** Missing Values. 

- Print out the number of missing values for each variable in the dataset and comment on your findings.

(5 marks)

In [2]:
#Print missing values per column
missing_values = df.isnull().sum()
print(missing_values)

LIMIT_BAL                       0
SEX                           383
EDUCATION                     383
MARRIAGE                      383
AGE                           383
PAY_0                         383
PAY_2                         383
PAY_3                         383
PAY_4                         358
PAY_5                         358
PAY_6                         358
BILL_AMT1                     358
BILL_AMT2                     358
BILL_AMT3                     358
BILL_AMT4                     360
BILL_AMT5                     360
BILL_AMT6                     360
PAY_AMT1                      360
PAY_AMT2                      360
PAY_AMT3                        2
PAY_AMT4                        2
PAY_AMT5                      300
PAY_AMT6                      300
default payment next month      0
dtype: int64

All columns contain missing values, except for "LIMIT_BAL" and "default payment next month".


**Problem 2.** Cleaning data and dealing with categorical features (Total Marks: 40)

**Q1.** 

- Use an appropriate `pandas` function to impute missing values using one of the following two strategies: `mean` and `mode`. (10 marks)
    - Take into consideration the type of each variable  and the best practices we discussed in class/lecture notes
- Explain what data imputation is, how you have done it here, and what decisions you had to make. (5 marks)



(Total: 15 marks)

In [3]:
# List of columns to impute with mode
columns_mode = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']

# Impute with mode
for column in columns_mode:
    mode_value = df[column].mode()[0]  
    df[column].fillna(mode_value, inplace=True)

# List of columns to impute with mean
columns_mean = ['AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

# Impute with mean
df[columns_mean] = df[columns_mean].fillna(df[columns_mean].mean())

Data imputation is the process of preserving the majority of data by substituting missing values with reasonable values. In the code above, I replaced all missing values on numeric columns with their mean, and for categorical columns, I replaced missing values with their mode. I decided to use mode as it is more fitting for categorical values, while mean is more fitting for numeric values.

<hr style="width:25%;margin-left:0;"> 

**Q2**. 
- Print `value_counts()` of the 'SEX' column and add a dummy variable named 'SEX_FEMALE' to `df` using `get_dummies()` (3 marks)
- Carefully explain what the values of the new variable 'SEX_FEMALE' mean (2 mark)
- Make sure the variable 'SEX' is deleted from `df`

(Total: 5 marks)

In [4]:
#print value count of SEX Column
print(df['SEX'].value_counts())

#Create dummy variables for the 'SEX' column
one_hot = pd.get_dummies(df['SEX'], prefix='SEX')

# Select only the 'SEX_2' column, which corresponds to 'SEX_FEMALE'
df['SEX_FEMALE'] = one_hot['SEX_2.0']

# delete SEX column
del df['SEX']

2.0    6411
1.0    3934
Name: SEX, dtype: int64

The "SEX_FEMALE" column serves as an indicator of gender, where a value of 1 denotes Female, and 0 signifies otherwise.

<hr style="width:25%;margin-left:0;">

**Q3**. Print `value_counts()` of the 'MARRIAGE' column and *carefully* comment on what you notice in relation to the definition of this variable. 

(Total: 5 marks)

In [5]:
print(df['MARRIAGE'].value_counts())

2.0    5677
1.0    4537
3.0     113
0.0      18
Name: MARRIAGE, dtype: int64

The value_counts() output for the 'MARRIAGE' column indicates that singles (2.0) are the most common group in the dataset with 5,677 occurrences, followed by married individuals (1.0) with 4,537 occurrences. The category labeled 'others' (3.0) represents a small fraction with 113 occurrences, and there are 18 records with a '0.0' value, which is not defined in the given categories of marital status and might indicate missing or improperly coded data.

<hr style="width:25%;margin-left:0;">

**Q4**. 

- Apply `get_dummies()` to 'MARRIAGE' feature and add dummy variables 'MARRIAGE_MARRIED', 'MARRIAGE_SINGLE', 'MARRIAGE_OTHER' to `df`. (5 marks)   
- Carefully consider how to allocate all the values of 'MARRIAGE' across these 3 newly created features (5 marks)   
    - Explain what decisions you had to make
- Make sure that 'MARRIAGE' is deleted from `df`   

(Total: 10 marks)

In [6]:
#change 0 values to mode of "Marriage"
df['MARRIAGE'].replace(0.0, df['MARRIAGE'].mode()[0], inplace=True)

# Create dummy variables for the 'MARRIAGE' column
one_hot_marriage = pd.get_dummies(df['MARRIAGE'], prefix='MARRIAGE')

# Map the columns
marriage_mapping = {
    'MARRIAGE_1.0': 'MARRIAGE_MARRIED',  
    'MARRIAGE_2.0': 'MARRIAGE_SINGLE',
    'MARRIAGE_3.0': 'MARRIAGE_OTHERS'
}

# Rename the columns using the mapping
one_hot_marriage = one_hot_marriage.rename(columns=marriage_mapping)

# Step 3: Join the modified dummy DataFrame with the original DataFrame
df = df.join(one_hot_marriage)

# Delete the 'MARRIAGE' Column
del df['MARRIAGE']

The key decisions I made are:

1. Replace 0 values in 'MARRIAGE' with its mode to ensure there are no undefined or ambiguous entries in the column, making the dataset cleaner and more consistent.
   
2. Convert 'MARRIAGE' to dummy variables using pd.get_dummies() to transform the categorical data into a numerical format that can be easily used in analysis and modeling.

3. Rename dummy variables to meaningful names -'MARRIAGE_MARRIED', 'MARRIAGE_SINGLE', 'MARRIAGE_OTHERS' - to clearly indicate what each variable represents, making the data easier to understand and work with.

4. Merge the dummy variables back into the dataset and remove the original 'MARRIAGE' column to update the dataset to include the new, more analytically useful variables while eliminating redundancy by removing the original column.

<hr style="width:25%;margin-left:0;"> 

**Q5**. In the column 'EDUCATION', convert the values {0, 5, 6} to the value 4. 

(Total: 5 marks)

In [7]:
#replace 0,5,6 to 4:
df.loc[df['EDUCATION'].isin([0, 5, 6]), 'EDUCATION'] = 4

---
---

**Problem 3** Preparing X and y arrays (Total Marks: 10)

**Q1**. 

- Create a numpy array `y` from the first 7,500 observations of 'payment_default' column from `df` (2.5 marks)   
- Create a numpy array `X`  from the first 7,500 observations of all the remaining variables in `df` (2.5 marks)   

(Total: 5 Marks)

In [8]:
# Rename columns
df = df.rename(columns={'PAY_0': 'PAY_1', 'default payment next month': 'payment_default'})

# Define the target variable 'y' and feature matrix 'X' using the first 7500 observations
y = df.loc[:7499, 'payment_default'].values
X = df.loc[:7499, ['LIMIT_BAL', 'EDUCATION', 'AGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4',
                   'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
                   'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
                   'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
                   'SEX_FEMALE', 'MARRIAGE_MARRIED', 'MARRIAGE_SINGLE', 'MARRIAGE_OTHERS']].values

<hr style="width:25%;margin-left:0;"> 

**Q2**. 

- Use an appropriate `sklearn` library we used in class to create `y_train`, `y_test`, `X_train` and `X_test` by splitting the data into 75% train and 25% test datasets (2.5 marks) 
    - Set random_state to 3 and stratify the subsamples so that train and test datasets have roughly equal proportions of the target's class labels 
- Standardise the data to mean zero and variance one using an approapriate `sklearn` library (2.5 marks)   

(Total: 5 marks)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=3, stratify=y)

# Initialize the StandardScaler
scaler = StandardScaler()

# Standardize the training data
X_train_scaled = scaler.fit_transform(X_train)  # Fit to data, then transform it

# Standardize the testing data
X_test_scaled = scaler.transform(X_test)  # Perform standardization by centering and scaling

---
---

**Problem 4**. Support Vector Classifier and Accuracies (Total Marks: 30)

**Q1**. 

- Train a Support Vector Classifier on the standardised data (5 marks)
    - Use `rbf` kernel and set `random_state` to 24 (don't change any other parameters)
- Compute and print training and test dataset accuracies (5 marks)

(Total: 10 marks)

In [10]:
from sklearn.svm import SVC

# Initialize the Support Vector Classifier with RBF kernel and random_state set to 24
svc = SVC(kernel='rbf', random_state=24)

# Train the SVC on the standardized training data
svc.fit(X_train_scaled, y_train)

# Compute the accuracies on the training and test sets
training_accuracy = svc.score(X_train_scaled, y_train)
test_accuracy = svc.score(X_test_scaled, y_test)

# Print the accuracies
print(f'Training Accuracy: {training_accuracy}')
print(f'Test Accuracy: {test_accuracy}')

Training Accuracy: 0.8231111111111111
Test Accuracy: 0.8144

<hr style="width:25%;margin-left:0;"> 

**Q2.**

- Extract 2 linear principal components from the standardised features using an appropriate `sklearn` library (5 marks)
- Train a Support Vector Classifier on the 2 principal components computed above (5 marks)   
    - Use `rbf` kernel and set `random_state` to 24 (don't change any other parameters)
- Compute and print training and test dataset accuracies (5 marks)


(Total: 15 marks)

In [11]:
from sklearn.decomposition import PCA
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# Extract 2 linear principal components from the standardized data
pca = PCA(n_components=2)
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

# Train the SVC on the PCA-transformed data
svc_pca = SVC(kernel='rbf', random_state=24)
svc_pca.fit(X_train_pca, y_train)

# Predict the labels for both the training and test sets
y_train_pred_pca = svc_pca.predict(X_train_pca)
y_test_pred_pca = svc_pca.predict(X_test_pca)

# Calculate the accuracy of predictions against the actual labels
train_accuracy_pca = accuracy_score(y_train, y_train_pred_pca)
test_accuracy_pca = accuracy_score(y_test, y_test_pred_pca)

# Print the accuracies
print("Training dataset accuracy with PCA:", train_accuracy_pca)
print("Test dataset accuracy with PCA:", test_accuracy_pca)

Training dataset accuracy with PCA: 0.8012444444444444
Test dataset accuracy with PCA: 0.8037333333333333

<hr style="width:25%;margin-left:0;"> 

**Q3**. 

- Comment on the suitability of the two classifiers to predict credit card defaults by commenting on (and comparing) the computed accuracies from the last two questions.


(Total: 5 marks)

After applying and comparing two methods for predicting credit card defaults, I observed interesting results. Method A, which utilized a Support Vector Classifier (SVC) directly on the standardized data, yielded a training accuracy of 82.31% and a test accuracy of 81.44%. Method B, on the other hand, involved using PCA to reduce the feature space before applying SVC, resulting in slightly lower accuracies: a training accuracy of 80.12% and a test accuracy of 80.37%.

The higher accuracies in Method A suggest that the SVC benefits from the complexity and richness of the full feature set, capturing more nuances in the data that are crucial for predicting credit card defaults. This could indicate that the original feature set contains valuable information for the classification task that is lost during the dimensionality reduction process in Method B. However,  The fact that Method B still maintains relatively high accuracy with only two principal components suggests that these components capture a significant portion of the variance necessary for the classification task. In summary, if the goal is to maximize predictive accuracy and the computational resources are available, Method A is preferable.

---
---

## Marking Criteria

To achieve a perfect score, your solutions must adhere to the criteria outlined below:

- Ensure that all numerical answers are accurate.
- Use the specific Python functions and libraries specified within the assignment instructions.
- For any written responses, provide accurate information, articulated in clear and complete sentences.
- Do not add extra cells beyond what is provided in the notebook.
- Do not print output with your code unless explicitly instructed to do so.
- Maintain a clean and organised notebook layout that is easy to follow.
    
---
---